node_modules
bower_components
*.bk
*.zip
vendor
obj
*.config
*.cs
*.csproj
*sln
.vs
dist
iorad_ticketing_freshplug/packages/
iorad_ticketing_freshplug/iorad_ticketing_freshplug/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
