node_modules
bower_components
*.bk
*.zip
vendor
obj
*.config
*.cs
*.csproj
*sln
.vs
dist
atlassian_integration/dev_workspace/vagrat_box/.vagrant/machines/default/virtualbox/action_provision

atlassian_integration/dev_workspace/vagrat_box/.vagrant/machines/default/virtualbox/action_set_name

atlassian_integration/dev_workspace/vagrat_box/.vagrant/machines/default/virtualbox/creator_uid

atlassian_integration/dev_workspace/vagrat_box/.vagrant/machines/default/virtualbox/id

atlassian_integration/dev_workspace/vagrat_box/.vagrant/machines/default/virtualbox/index_uuid

atlassian_integration/dev_workspace/vagrat_box/.vagrant/machines/default/virtualbox/synced_folders

*.log

atlassian_integration/dev_workspace/vagrat_box/Vagrantfile

atlassian_integration/iorad-conf-plugin1/.DS_Store

.DS_Store
