.insert_iorad {
  background-image: url('https://test.iorad.com/server/assets/img/icon_iorad_freshdesk.png') !important;
  background-position: 7px;
  background-repeat: no-repeat;
  background-size: 16px;
  padding-left: 30px;
}