<div id="iorad-container">
    <section id="embed-iorad-container" class="aui-layer aui-dialog2 aui-dialog2-xlarge" role="dialog" aria-hidden="true"
             data-aui-modal="true" data-aui-remove-on-hide="false">

        <div class="aui-dialog2-content" id="embed-iorad-content">
            <div class="header">
                <img src="" id="iorad-logo-image" class="logo" alt="iorad" /> Embed iorad
            </div>

            <form id="iorad-form" class="aui top-label">
                <div class="field-group top-label">
                    <input class="text long-field" type="text"
                           id="iorad-link-text-box" name="iorad-link-text-box"
                           placeholder="Paste iorad direct player link here">
                    <div class="iorad-error-link hidden">Incorrect tutorial URL</div>
                </div>

                <div class="field-group top-label hidden">
                <textarea class="textarea long-field" id="iorad-embed-code-textarea" rows="7"
                          name="iorad-embed-code-textarea"
                          placeholder="Paste iorad embed code here"></textarea>
                    <div class="iorad-error-link hidden">Incorrect code</div>
                </div>
                <div class="buttons">
                    <a id="iorad-switch-button">Switch to step list</a>
                    <button id="iorad-submit-button" type="submit">Save</button>
                    <a id="iorad-cancel-button" type="button">Cancel</a>
                </div>
            </form>
        </div>
    </section>
</div>
