<div class="modal hide fade iorad-widget-modal" role="dialog" id="successModal" aria-hidden="true" style="display:none;">
    <div class="modal-header"></div>
    <div class="modal-body">
        <div id="successMsg">
            The solution <b>{{articleTitle}}</b> has been successfully created.
        </div>
    </div><div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button><a class="btn btn-primary" href="/solution/categories/{{article.categoryId}}/folders/{{article.folderId}}/articles/{{article.id}}">VIEW ARTICLE</a>
    </div>
</div>
