<section id="ioradWidget" class="content iorad-widget" title="Iorad Tutorial Widget">
    <div id="tutorialLocation" class="widget-layout">
        <div class="widget-header"><h2 class="heading">Create an Article</h2></div>
        <div class="widget-location-selector"><label for="topicsSelector">Topics</label><select id="topicsSelector"></select></div>
        <div id="control">
            <a id="newTutorialBtn" class="btn btn-iorad-widget" title="open IORAD editor" href="#">ADD</a>
        </div>
    </div>
</section>
<style>
</style>
<script type='text/javascript' src='//{{ioradRootUrl}}/server/assets/js/iorad.js'></script>