.insert_iorad {
  background-image: url("//iorad.com/server/assets/img/icon_iorad_freshdesk.png") !important;
  background-size: 100%;
}
div.input-control {
  margin: 24px;
}
div.input-control select {
  min-width: 172px;
}
div.body-input-control {
  text-align: center;
}