<section class="uvModuleSection uvModuleSection-iorad">
    <div class="widget-header"><h2 class="heading">Create a solution</h2></div>
    <div class="widget-body">
        <div class="widget-control">
            <button id="newTutorialBtn" class="uvFieldEtc-submit-button uvStyle-button" title="open IORAD editor">ADD</button>
        </div>
    </div>
</section>
<script type='text/javascript' src='//{{ioradRootUrl}}/server/assets/js/iorad.js'></script>
<style>

</style>