.editanchorscontainer {
    float: right;
}

.editanchorscontainer > a {
    cursor: pointer;
}

.editPropLink {
    margin-right: 30px;
}

.btnIoradNew {
    float: right;
    margin-top: -10px !important;
    color: #00BA73 !important;
    width: 250px !important;
    text-align: center !important;
}

.btnIoradSave {
    background: #00B975;
    color: #fff !important;
    border-radius: 4px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    font-size: 16pt;
    line-height: 1;
    text-align: center;
    margin-top: 45px;
    cursor: pointer;
    width: 360px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.btnIoradEditPropPanel {
    margin-top: 35px !important;
    width: 130px !important;
}

.btnIoradSavePropPanel {
    margin-top: 35px !important;
    width: 130px !important;
}

.dialog-panel-body.SavePropPanel > div > input {
    height: 16px;
}

.dialog-panel-body.SavePropPanel > div {
    padding-bottom: 15px;
    text-align: center;
    height: 18px;
    font-size: 16px;
}

.dialog-panel-body.SavePropPanel {
    background-image: url(images/line.png);
    background-repeat: no-repeat;
    background-repeat-x: inherit;
    background-position: bottom;
    text-align: center;
    padding: 0px;
}

.dialog-panel-body.SavePropPanel > div > label {
    font-size: 14pt;
    color: #2F344E;
    width: 110px;
    display: inline-block;
    text-align: left;
}

.dialog-panel-body.NewSolutionPanel {
    background-image: url(images/line.png);
    background-repeat: no-repeat;
    background-repeat-x: inherit;
    background-position: bottom;
    text-align: center;
}

.editSolutionVelo {
    background: #00B975;
    color: #fff !important;
    border-radius: 4px;
    border: none;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    font-size: 16pt;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    margin: 0 auto;
    width: 95%;
}

.needHelpPropDial {
    margin-top: 15px;
    display: inherit;
}

.newTutorialVromVM {
    padding-top: 35px;
}

.btnIoradNewFromPopup {
    float: left;
    width: 502px !important;
    height: 40px !important;
    font-size: 14pt !important;
    margin-top: 0px !important;
}

.newSolutionFromPopupButtonGroup {
    padding-top: 20px !important;
}
