html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
}

section#create-solution,
section#insert-solution,
#edit-solution {
    height: 100%;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 4%;
    display: none;
}

.logo {
    height: 40px;
    margin-top: 100px;
}

.info {
    margin-top: 15px;
    font-size: 18px;
}

.bottom {
    background: rgba(0, 0, 0, 0) url("line.png") no-repeat scroll 0 0 / 100% 2px;
    bottom: 5%;
    position: absolute;
    width: 92%;
    height: 10%;
}

.help {
    display: inline-block;
    font-size: 13px;
    margin-top: 30px;
    text-decoration: underline;
}

.buttons {
    float: right;
    margin-top: 20px;
}

.button {
    background-color: #acacac;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    padding: 8px 30px;
    margin-left: 2px;
    cursor: pointer;
    min-width: 140px;
    font-size: 15px;
}

.button.green {
    background-color: #17AD63;
}

.preview {
    height: 90%;
    width: 100%;
}

.button.bordered {
    margin-top: 20px;
    background: #F7F7F7;
    border: 1px solid #E1E1E1;
    color: #000;
}

iframe {
    height: 100%;
}

#saveEditing {
    display: none;
}