<li class="ticket-btns">
    <div id="insertIoradToKnowledgebaseButton" class="btn tooltip"
         data-original-title="Iorad" twipsy-content-set="true">
        <img src="//iorad.com/server/assets/img/icon_iorad_freshdesk.png" style="height: 14px;" />
        <span> Create Knowledgebase solution</span>
    </div>
</li>
