<li class="redactor_separator"></li>
<li>
	<a href="#" class="insert_iorad tooltip" data-editor-id="cnt-reply-body" rel="ticket_iorad" data-original-title="Insert Iorad Screen Capture">Iorad</a>
</li>
