<div class="embeddedTutorial"><iframe src="{{iframeSrc}}" width="100%" scrolling="no" height="500px" style="border:0px;" allowfullscreen="true"></iframe></div>
<div class="tutorialSteps" style="display: none;">
    {{#each steps}}
    <p>{{description}}</p>
    {{/each}}
</div>
